In [34]:
import h5py
import numpy as np
import pandas as pd
#f = h5py.File('jim_analysis_target4_rep1','r')
f = h5py.File('0915_cr7_kd_fitting_jami_bad_read_names_removed','r')

In [35]:
print("Keys: %s" % f.keys())
a_group_key = list(f.keys())[0]

Keys: <KeysViewHDF5 ['synthetic-kds']>

In [36]:
a_group_key

'synthetic-kds'

In [37]:
dset = f[a_group_key]

In [38]:
dset

In [39]:
data = dset[:]

In [40]:
for i in range(100):
    print(data[i])
#print(data)

(b'TCTTGATTCTGAAATATTCAGGTC', 301.48659873, 23.0203077, 8951.31017737, 29741., 96)
(b'TTTGATCTGAAATATAGTCCTC', 77.22154773, 5.34823798, 9283.95354133, 29741., 121)
(b'TGTTATCTGAAATATTCAGGTC', 122.02290457, 9.51537373, 10020.63539578, 29741., 102)
(b'TTTGATCTGATACATATTCAGGTC', 548.84883654, 92.14772425, 10536.53781116, 29741., 98)
(b'TTTGATCTGAAATATTCAGCTGTC', 97.14329064, 7.23381644, 10263.2997296, 29741., 119)
(b'TTTGATCTGAAATATCCAGGGC', 236.11351378, 24.47521471, 10342.56940581, 29741., 85)
(b'TTTGATCTGAGATATATTCAGGTC', 499.60095941, 51.95817993, 9219.83727628, 29741., 110)
(b'TTTGATCTGAAATCTTCAAGTC', 224.23071856, 16.23593136, 8754.23806421, 29741., 119)
(b'TTTGATCGTGAAATATTCAGAGTC', 552.95560255, 60.46679401, 9313.11899117, 29741., 103)
(b'TTTGATCTGCAATTTTCAGGTC', 804.52826016, 115.39338448, 9491.84125797, 29741., 133)
(b'TCTGATCTGAAATATTAAGGTC', 533.44279468, 66.21664848, 9547.79302487, 29741., 111)
(b'TTTCATCTGAAATAGTCAGGTC', 1429.08116739, 414.4379925, 9695.27024952, 29741., 123)
(b'TTTGATTGAAATTTCAGGTC', 1806.59137792, 2396619.9072417, 9348.21611513, 29741., 107)
(b'TTTGATCTGAGACATTCAGGTC', 929.98250221, 184.93829217, 9415.68076352, 29741., 107)
(b'TGTTGATCTGAAATATTCAGGTCG', 811.61415143, 120.96299518, 9442.1702486, 29741., 146)
(b'TTTGACTAAATATTCAGGTC', 149.82511388, 15.20078387, 9846.35257287, 29741., 100)
(b'TTTGATCTGAAAAATTCAGGGC', 182.22352746, 13.80650637, 9708.04025867, 29741., 103)
(b'TTTGAGTCTGAAATATTCACGGTC', 635.87892417, 135.80708767, 11314.9416224, 29741., 79)
(b'TTCGATCTGAAATATTCAGGTC', 294.19145865, 34.63610391, 10142.96458894, 29741., 124)
(b'TTTGATCTAGAAATGATTCAGGTC', 1029.08601361, 180.33389776, 8956.95319403, 29741., 102)
(b'TTTGGTCTTAAATATTCAGGTC', 613.44048749, 125.75913431, 10323.7785791, 29741., 80)
(b'TTTGAACTGAAATATTCATGTC', 560.42842928, 79.69761715, 10317.64897892, 29741., 111)
(b'TTTGATCTTAAATATTCAAGTC', 609.50356732, 68.83980748, 8259.4067914, 29741., 78)
(b'TTCGATCTGAAATATTCAGGTG', 395.19297029, 31.38337452, 9165.16632064, 29741., 110)
(b'TTTGTATCTGAAATATTCAGTGTC', 506.81481319, 50.39647962, 9730.63666829, 29741., 117)
(b'TTTGATCTGAAATATTCTATGGTC', 3.11197345, 0.30472657, 8278.36987182, 29741., 88)
(b'TTTAGATCTGAAATACTTCAGGTC', 1205.8358904, 218.78194619, 9574.39676575, 29741., 129)
(b'TTTGATCTGAAATATTCTACGGTC', 7.45651757, 0.73413937, 8069.60527208, 29741., 99)
(b'TTTGATCTGAAATATTAAGCTC', 13.52761661, 1.03932724, 9444.2548233, 29741., 109)
(b'TTTGATCTAAAATATTCAAGTC', 716.85960161, 141.60877075, 10450.4740643, 29741., 56)
(b'TTCGATCTGAAATATTCAGGTT', 963.18249653, 197.77105018, 9538.32752955, 29741., 108)
(b'TCTGGTCTGAAATATTCAGGTC', 216.194691, 16.90117889, 10628.99698456, 29741., 115)
(b'AAACTAGACTTTATAAGTCGTC', 190.05960248, 24.34717859, 10892.87070261, 29741., 47)
(b'TTGTGTATCTGAAATATTCAGGTC', 1820.97713357, 20213655.00206347, 9795.02109499, 29741., 84)
(b'TTTGATCTGAATATATTCAGGTCC', 2233.96005601, 2318.14533296, 10136.46489506, 29741., 83)
(b'TTTGATCTGAAATATATCAGGCTC', 65.50109572, 5.54036519, 9600.93572043, 29741., 116)
(b'TTTGATCATGAAATATATCAGGTC', 931.99582618, 151.01585631, 9301.78169589, 29741., 98)
(b'TTTGATCTGAAATACTTCAGCGTC', 178.04318906, 16.70284902, 10357.0854529, 29741., 111)
(b'TTTGATCTGAAACAATCAGGTC', 479.27990994, 69.58716263, 9832.03151159, 29741., 113)
(b'TTCGATCTGAATTATTCAGGTC', 2146.06919454, 5902449.19135768, 10109.01778991, 29741., 136)
(b'TTTGGATCTGAAATATTCAGAGTC', 1687.88738367, 2995.53386683, 10340.88742726, 29741., 80)
(b'TCTTGATCATGAAATATTCAGGTC', 1217.81417809, 424.03402072, 9401.74155478, 29741., 99)
(b'TTTGATCTGAAATATGCGGGTC', 64.17936282, 4.61255544, 9761.99491238, 29741., 125)
(b'TTTTATGTGAAATATTCAGGTC', 1991.6327794, 1097.72885473, 10525.78986764, 29741., 121)
(b'TTTGAATCTGGAAATATTCAGGTC', 1725.90109739, 1206.59515284, 10194.84487203, 29741., 108)
(b'GTTGATCTGAAATATTTAGGTC', 80.6155775, 4.99878307, 10209.42064822, 29741., 132)
(b'ATTGATCTGAAATATTCAGGCC', 104.07750971, 7.31782697, 9721.63681753, 29741., 113)
(b'TTTGATATGAAAGATTCAGGTC', 1625.33134417, 541.02477177, 9236.72125951, 29741., 137)
(b'TTTGATCTGAATATATTCAGGTCG', 1357.16119579, 437.59851152, 9364.83281476, 29741., 88)
(b'TTAGATCTGAAATATTGAGGTC', 955.88603212, 234.86609236, 10136.83399989, 29741., 114)
(b'TTTGATCTGATAAATTCAGGTC', 630.85729042, 69.45813991, 9211.01005958, 29741., 135)
(b'TTTGATCTGATAATATTCAGGCTC', 208.63463837, 14.42268315, 9509.45182958, 29741., 123)
(b'TTTGATCTGAACTGTTCAGGTC', 1150.31649287, 286.3061984, 9594.50041713, 29741., 104)
(b'TTTGATCTGAAATACGCAGGTC', 103.79472271, 7.11758756, 9985.81517776, 29741., 125)
(b'TTTGATCTGAAATAATCTCAGGTC', 111.81463468, 9.74665453, 10297.40959242, 29741., 105)
(b'TTTGACTCTGAAATATTCATGGTC', 728.76998312, 111.0400678, 9485.23872782, 29741., 104)
(b'TTGGACCTGAAATATTCAGGTC', 4665.67871678, 5311649.97196542, 9816.1325394, 29741., 135)
(b'TTTGATCTGAAATATATCAGGTCT', 790.56525691, 114.75143183, 9870.87327465, 29741., 104)
(b'TTACTAGACTTTATTTCAGGTC', 5.26151842, 0.55354541, 7565.04985816, 29741., 92)
(b'TTCTGAGTCTGAAATATTCAGGTC', 1112.2944719, 257.60963375, 9916.49557629, 29741., 108)
(b'TTTGATCGAAATTTCAGGTC', 2127.48898977, 794.10493945, 9467.9697731, 29741., 138)
(b'TTTGATCTGAACATATTCAGGTC', 551.57633891, 53.49054232, 10164.38349316, 29741., 137)
(b'TGTTGATCTAGAAATATTCAGGTC', 868.71754084, 152.10944057, 9471.0603441, 29741., 113)
(b'TTTGACTGAAATATTCAGTC', 1590.11960936, 411.31425409, 9228.78798181, 29741., 116)
(b'TTTGATCTGAAATATCTCAGGTCT', 788.61622228, 127.03948569, 8801.94107845, 29741., 94)
(b'TTTGATCTTAAATATTCAGGGC', 178.95515621, 15.88924712, 9563.57611887, 29741., 115)
(b'TTTGATCTGAAATATATCAGGTCG', 689.75088653, 116.59570361, 10247.75571266, 29741., 119)
(b'TTTGATCTGAAATATATCAGGTCA', 1109.87145201, 262.2811351, 9952.0743532, 29741., 110)
(b'TATGATCTGACATATTCAGGTC', 796.28719503, 99.84991334, 9268.6836112, 29741., 106)
(b'TTTGATCTGAAACTAGTTCAGGTC', 567.88878353, 62.03929846, 9751.54870153, 29741., 89)
(b'GTTGATCTGAAATATTGAGGTC', 199.74591999, 13.54769851, 10152.85220876, 29741., 123)
(b'TTTGATCTGAATTATTCAGGTA', 720.60165968, 80.23633092, 8932.92893284, 29741., 93)
(b'TTTGATCTGAAATATTCAGGCGTC', 105.1047845, 9.85826894, 10377.62972657, 29741., 107)
(b'TTTGATCTGAATTATTCAGGTG', 400.41406612, 25.7924766, 8475.94560052, 29741., 140)
(b'TTTGATCTGAAACTCATTCAGGTC', 417.82123781, 45.01404601, 10087.05102287, 29741., 114)
(b'TTTGATCGTGAAATATTGCAGGTC', 894.49814585, 216.49312024, 9604.90287461, 29741., 84)
(b'TTTGATCTGAATTATTCAGGTC', 375.83373142, 34.60565321, 9835.25419189, 29741., 127)
(b'TTTGATCTGAAATATTCAGATG', 243.05863648, 23.87764888, 10257.07193255, 29741., 97)
(b'TTTGATCTGAATTATTCATGTC', 218.03968817, 16.48211489, 10024.24400796, 29741., 128)
(b'TTTCGATCTGAAATATTCAAGGTC', 270.63411366, 27.26303682, 9984.29406746, 29741., 83)
(b'TTTGATCTGCAATATTCAGGTT', 1503.02226476, 598.68046671, 9635.93485597, 29741., 118)
(b'TTTGATCTAAAATTTTCAGGTC', 1113.12058925, 382.83919803, 9142.20332266, 29741., 92)
(b'TTTGATCTGAAATATACAGGCC', 357.97760494, 50.07520794, 10838.33783369, 29741., 86)
(b'TTTCGATCTGAAATATTCCAGGTC', 1129.8535392, 411.23064541, 9722.3989, 29741., 81)
(b'TTTGATCTCTGAAATATTCAGGTC', 777.63705232, 136.09494498, 10128.82557883, 29741., 103)
(b'TTTGATCTGAAATTATTTCAGGTC', 670.39428426, 92.02164544, 9134.76819212, 29741., 116)
(b'TTTGCAATCTGAAATATTCAGGTC', 1313.58411023, 373.65599652, 9160.64546399, 29741., 95)
(b'TTTGATCTGAAATATGTCCAGGTC', 45.99829551, 3.91524349, 10568.09568208, 29741., 104)
(b'TTTGATCTGCAAAATATTCAGGTC', 846.49655048, 180.40214331, 9665.14693941, 29741., 97)
(b'TGTTGATCTGAGAATATTCAGGTC', 1395.17728014, 275.07321063, 9255.49764595, 29741., 128)
(b'TTTGATCTGAATTATTCAGGTT', 607.23546621, 63.18417983, 8285.49827366, 29741., 128)
(b'TTTGAACTGAAATATTCAGGTA', 427.33615024, 65.10163175, 9952.02655437, 29741., 94)
(b'TTTCGATCTGAGAATATTCAGGTC', 1264.57400906, 352.48467311, 9777.89237662, 29741., 105)
(b'TTTGAATCTGAAATATGTCAGGTC', 513.46125508, 50.53919302, 9543.11069395, 29741., 100)
(b'TTTGCATCTGAAATATTCAGGTCG', 499.39871332, 63.71630802, 10801.9872764, 29741., 119)
(b'TTCTGATCTGAAATATTCAAGGTC', 222.82632062, 21.13000752, 9779.15591651, 29741., 93)
(b'TTTGATCTGAAATAATTACAGGTC', 40.43752065, 3.95390038, 9777.46991519, 29741., 83)
(b'TTTGATCTGAAATATACACGTC', 19.95563955, 1.97901716, 9332.81550528, 29741., 101)
(b'TTTGCATCTGAAATATTCAGGTCC', 507.41361597, 68.50439284, 9384.95147242, 29741., 134)
(b'TTTGATCTGATTATATCAGGTC', 1733.59615298, 1696.51415431, 9324.25398385, 29741., 82)

In [41]:
df = pd.DataFrame(data)

In [42]:
df.sequence = df.sequence.str.decode('utf-8')

In [43]:
df[df["sequence"] == b'CCATAGAGAGGTTATCCGCTCA']

Empty DataFrame
Columns: [sequence, kd, kd_uncertainty, y_intercept, delta_y, count]
Index: []

In [44]:
#df.to_csv("data.csv",index=False)

In [45]:
df[df["sequence"] == 'CCATAGAGAGATTATCTGCTCA']

Empty DataFrame
Columns: [sequence, kd, kd_uncertainty, y_intercept, delta_y, count]
Index: []

In [46]:
df

,sequence,kd,kd_uncertainty,y_intercept,delta_y,count
0,TCTTGATTCTGAAATATTCAGGTC,301.486599,23.020308,8951.310177,29741.0,96
1,TTTGATCTGAAATATAGTCCTC,77.221548,5.348238,9283.953541,29741.0,121
2,TGTTATCTGAAATATTCAGGTC,122.022905,9.515374,10020.635396,29741.0,102
3,TTTGATCTGATACATATTCAGGTC,548.848837,92.147724,10536.537811,29741.0,98
4,TTTGATCTGAAATATTCAGCTGTC,97.143291,7.233816,10263.299730,29741.0,119
...,...,...,...,...,...,...
4901,TTTGATCTGCCAAATATTCAGGTC,684.361887,89.017150,9587.274684,29741.0,94
4902,TTTTATCTGAAATATTCAGGAC,307.271082,29.271792,10303.931996,29741.0,79
4903,TATGATCTGAAATAATCAGGTC,584.946703,135.313105,10887.863183,29741.0,80
4904,TTTGATCCTGAAAGTATTCAGGTC,1216.039291,308.844546,8826.862515,29741.0,110
4905,CTTGATCTGAAGTATTCAGGTC,360.907261,41.296260,9359.172122,29741.0,119

In [47]:
df

,sequence,kd,kd_uncertainty,y_intercept,delta_y,count
0,TCTTGATTCTGAAATATTCAGGTC,301.486599,23.020308,8951.310177,29741.0,96
1,TTTGATCTGAAATATAGTCCTC,77.221548,5.348238,9283.953541,29741.0,121
2,TGTTATCTGAAATATTCAGGTC,122.022905,9.515374,10020.635396,29741.0,102
3,TTTGATCTGATACATATTCAGGTC,548.848837,92.147724,10536.537811,29741.0,98
4,TTTGATCTGAAATATTCAGCTGTC,97.143291,7.233816,10263.299730,29741.0,119
...,...,...,...,...,...,...
4901,TTTGATCTGCCAAATATTCAGGTC,684.361887,89.017150,9587.274684,29741.0,94
4902,TTTTATCTGAAATATTCAGGAC,307.271082,29.271792,10303.931996,29741.0,79
4903,TATGATCTGAAATAATCAGGTC,584.946703,135.313105,10887.863183,29741.0,80
4904,TTTGATCCTGAAAGTATTCAGGTC,1216.039291,308.844546,8826.862515,29741.0,110
4905,CTTGATCTGAAGTATTCAGGTC,360.907261,41.296260,9359.172122,29741.0,119

In [48]:
df['Seq'] = "GGGAATGGATCCACATCTACGAATTCGTT" + df['sequence'] + "TGCAGATCGGAAGAGCACACGTCTGAACTCCA"

In [54]:
df[['Seq']].to_csv("target7",header=False, index=False)

In [49]:
df.head()

,sequence,kd,kd_uncertainty,y_intercept,delta_y,count,Seq
0,TCTTGATTCTGAAATATTCAGGTC,301.486599,23.020308,8951.310177,29741.0,96,GGGAATGGATCCACATCTACGAATTCGTTTCTTGATTCTGAAATAT...
1,TTTGATCTGAAATATAGTCCTC,77.221548,5.348238,9283.953541,29741.0,121,GGGAATGGATCCACATCTACGAATTCGTTTTTGATCTGAAATATAG...
2,TGTTATCTGAAATATTCAGGTC,122.022905,9.515374,10020.635396,29741.0,102,GGGAATGGATCCACATCTACGAATTCGTTTGTTATCTGAAATATTC...
3,TTTGATCTGATACATATTCAGGTC,548.848837,92.147724,10536.537811,29741.0,98,GGGAATGGATCCACATCTACGAATTCGTTTTTGATCTGATACATAT...
4,TTTGATCTGAAATATTCAGCTGTC,97.143291,7.233816,10263.299730,29741.0,119,GGGAATGGATCCACATCTACGAATTCGTTTTTGATCTGAAATATTC...

In [53]:
df[['Seq']].iloc[0][0]

'GGGAATGGATCCACATCTACGAATTCGTTTCTTGATTCTGAAATATTCAGGTCTGCAGATCGGAAGAGCACACGTCTGAACTCCA'